h1 {
    font-size: var(--font-h1-size);
    font-family: var(--font-h1), sans-serif;
}

h2 {
    font-size: var(--font-h2-size);
    font-family: var(--font-h2), sans-serif;
}

h3 {
    font-size: var(--font-h3-size);
    font-family: var(--font-h3), sans-serif;
}

h4 {
    font-size: var(--font-h4-size);
    font-family: var(--font-h4), sans-serif;
}

h5 {
    font-size: var(--font-h5-size);
    font-family: var(--font-h5), sans-serif;
}

h6 {
    font-size: var(--font-h6-size);
    font-family: var(--font-h6), sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

.sheet.journal-entry .journal-entry-page :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 0.7rem;
}

.sheet.journal-entry .journal-entry-page :is(h5, h6),
.journal-page-content :is(h5, h6){
    margin-bottom: 0;
    margin-top: 0.5rem;
}

body, textarea {
    font-family: var(--font-body), sans-serif;
    font-size: var(--font-body-size);
}

button {
    font-size: var(--font-body-size);
}

form .notes, form .hint {
    line-height: inherit;
}

label, .category-tab, .key {
    font-family: var(--font-label), sans-serif;
    font-size: var(--font-body-size);
}

#tooltip, #pause {
    font-family: var(--font-h4), sans-serif;
    font-size: var(--font-size-10);
    font-weight: normal !important;
}

a.scene-name {
    font-family: var(--font-h6), sans-serif;
    font-size: var(--font-size-6);
}

#navigation #scene-list .scene.gm {
    border: 1px solid var(--color-text-dark-header);
}

.notes, .hint {
    font-family: var(--font-notes), sans-serif;
}

body, textarea, input, button, select {
    color: var(--color-text-dark-primary);
}

button {
    background-color: var(--color-light-1);
}

textarea:focus, input:focus {
    outline: 2px solid var(--color-warm-2);
}

form .notes, form .hint, .package-configuration aside.sidebar {
    font-size: var(--font-body-size);
}

.tabs .item {
    font-family: var(--font-label), sans-serif;
}

.tabs .item.active {
    text-shadow: none;
    color: var(--color-warm-2);
}

select:focus {
    box-shadow: none;
    border: 1px solid var(--color-warm-2)
}

.macros-sidebar h1, .macros-sidebar h2, .macros-sidebar h3,
.macros-sidebar h4, .macros-sidebar h5, .macros-sidebar h6 {
    color: inherit;
}

/* Sidebar */
li.folder > .folder-header h1 {
    font-size: var(--font-size-16);
}

li.folder > .folder-header h2 {
    font-size: var(--font-size-14);
}

li.folder > .folder-header h3 {
    font-size: var(--font-size-12);
}

li.folder > .folder-header h4 {
    font-size: var(--font-size-10);
}

li.folder > .folder-header h5 {
    font-size: var(--font-size-10);
}

li.folder > .folder-header h6 {
    font-size: var(--font-size-10);
}

#sidebar h1, .window-content h1:not(:is(.journal-sheet h1)) {
    font-size: var(--font-size-14);
}

#sidebar h2, .window-content h2:not(:is(.journal-sheet h2)) {
    font-size: var(--font-size-13);
}

#sidebar h3, .window-content h3:not(:is(.journal-sheet h3)) {
    font-size: var(--font-size-10);
}

#sidebar h4:not(:is(.journal-sheet h4, .roll-event-message h4)),
.window-content h4:not(:is(.journal-sheet h4, .roll-event-message h4)) {
    font-size: var(--font-size-8);
}

.sidebar-tab .directory-header .header-search input {
    background: var(--color-light-1);
}

#sidebar-tabs {
    --sidebar-tab-height: 32px;
    --sidebar-tab-width: 24px;
    flex: 0 0 var(--sidebar-tab-height);
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: unset;
    box-shadow: unset;
}

#sidebar-tabs > .item.active {
    border: none;
    border-bottom: none;
    box-shadow: none;
    text-shadow: none;
    color: var(--color-warm-2);
    border-bottom: 2px solid var(--color-warm-2);
    margin-bottom: -4px
}

/* Chat */

.chat-message {
    font-size: var(--font-body-size);
}

.chat-message .roll-event-message h4 {
    font-size: var(--font-size-13);
    text-align: center;
    padding: 0.3em;
}

.damage-card .block-title, .warn-card .block-title {
    font-size: var(--font-size-13);
}

.damage-card .block-title, .warn-card .block-title {
    padding: 0.2em;
}

.formula p.label {
    font-size: var(--font-size-13);
}

#chat-form textarea {
    background: var(--color-light-1) url(../img/tor_bg.png) no-repeat;
    background-size: cover;
}

.chat-message, .chat-message.whisper {
    background: var(--color-light-1) url(../img/tor_bg.png) no-repeat;
    background-size: cover;
}

#chat-controls .roll-type-select {
    background: var(--color-light-1)
}

#chat-log .message {
    border: 2px solid var(--color-border-dark) !important;
}

.message-sender {
    color: var(--color-warm-2);
}

.warn-lm-message .warn-card .block-title {
    background: var(--color-warm-2);
}

.roll-event-message .label {
    font-family: var(--font-label), sans-serif;
}

.roll-event-message .roll-event-message-body .event-attribute-row .value {
    font-weight: unset;
    text-align: center;
}

.chat-message h1, .dice-roll h2, .dice-roll h3, .dice-roll h4, .dice-roll h5, .dice-roll h6{
    font-weight: unset;
}

.chat-message h1 {
    font-family: var(--font-h1-bold), sans-serif;
}

.chat-message h2 {
    font-family: var(--font-h2-bold), sans-serif;
}

.chat-message h3 {
    font-family: var(--font-h3-bold), sans-serif;
    font-size: var(--font-size-10);
}

.chat-message h4 {
    font-family: var(--font-h4-bold), sans-serif;
    font-size: var(--font-size-8);
    #color: var(--color-text-dark-header);
}

.chat-message h5 {
    font-family: var(--font-h5-bold), sans-serif;
}

.chat-message h6 {
    font-family: var(--font-h6-bold), sans-serif;
}

.roll-message-body .roll-information-row {
    background: var(--color-bg-light);
}

.roll-message-body .roll-information-row .value {
    background: unset;
}

.dice-roll .dice-formula, .dice-roll .dice-total {
    background: var(--color-bg-light);
}

section.secret {
    background: var(--color-bg-light);
}

li.roll-characteristic.active.positive {
    font-family: var(--font-label), sans-serif;
    color: var(--color-level-success-border);
}

li.roll-characteristic.active.negative {
    font-family: var(--font-label), sans-serif;
    color: var(--color-warm-2);
}

.dice-tooltip .part-header .part-formula,
.formula p.label,
.roll-characteristic-card p.label,
.roll-combat-card p.label,
.dice-tooltip .part-header .part-total {
    font-weight: unset;
}

.dice-roll .dice-total, .treasure-header {
    font-size: var(--font-size-12);
    color: var(--color-text-dark-header);
}

.roll-message-body .roll-information-row .label, .formula p.label,
.roll-characteristic-card p.label, .roll-combat-card p.label,
.damage-card .block-title, .warn-card .block-title,
.message-content .song-result-message .song-result-message-body .song-attribute-row .label {
    background: var(--color-text-dark-header);
    font-family: var(--font-label), sans-serif;
}

.damage-card .block-title, .warn-card .block-title, .damage-card a {
    font-family: var(--font-label), sans-serif;
}

.damage-card .block-content a, .warn-card .block-content a {
    background: var(--color-bg-light);
}

.dice-result .dice-formula, .dice-result .dice-total {
    border: none;
    cursor: pointer
}

.display-description-message .display-description-message-header .summary .block .title {
    background: var(--color-text-dark-header);
    font-family: var(--font-label), sans-serif;
}

.display-description-message .display-description-message-header .summary .block .value {
    padding-left: 0.2em;
    background: var(--color-bg-light);
    text-align: center;
}

.message-content .song-result-message .song-result-message-body .song-attribute-row .value {
    align-content: center;
}

.display-description-message .display-description-message-body {
    background: var(--color-bg-light);
    border: unset;
}


/* Journal */

.journal-sheet .journal-header {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}

.journal-sheet p {
    line-height: 1.2;
}

.journal-sheet p:empty {
    min-height: 0.5rem;
}

.journal-sheet :is(h1, h2, h3, h4, h5, h6) {
    border-bottom: none;
}

.journal-sheet .window-content {
    background: var(--color-light-1) url(../img/tor_bg.png) no-repeat;
    background-size: cover;
}

.journal-sheet h1 {
    font-size: var(--font-h1-size);
}

.journal-page-content h3 {
    font-family: NewBaskervilleBold, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.journal-sidebar h1 {
    color: var(--color-warm-2);
}

.sheet.journal-entry .pages-list .page-heading,
.sheet.journal-entry .pages-list .heading-link{
    font-size: var(--font-body-size);
}

.journal-page-content h1, .journal-page-content h3, .journal-page-content h5,
.journal-page-header h1, .journal-page-header h3, .journal-page-header h5, .page-heading,
.journal-header .title {
    color: var(--color-text-dark-header);
}

.journal-page-content h2, .journal-page-content h4, .journal-page-content h6,
.journal-page-header h2, .journal-page-header h4, .journal-page-header h6{
    color: var(--color-warm-2);
}

.journal-sheet .journal-header .title {
    background: none;
    border: none;
    font-family: var(--font-h1), sans-serif;
    font-size: var(--font-size-18);
}

.sheet.journal-entry .journal-entry-content {
    flex: 1;
    height: 100%;
    background: var(--color-light-1) url(../img/tor_bg.png) no-repeat;
    background-size: cover;
    border: 2px solid var(--color-border-dark);
    border-radius: 6px 0 0 0;
    font-size: var(--font-body-size);
    text-align: justify;
}

.journal-sheet .pages-list > * {
    font-size: var(--font-size-15);
}

.sheet.journal-entry .journal-sidebar {
    background: var(--color-light-1) url(../img/tor_bg.png) no-repeat;
    background-size: cover;
    color: var(--color-text-dark-primary);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    font-family: var(--font-label), sans-serif;
    /*font-weight: unset;*/
}

.sheet.journal-entry .journal-sidebar input {
    font-family: var(--font-body), sans-serif;
}

.journal-entry-content .journal-entry-pages {
    padding-left: 3px
}

.journal-entry-content .journal-entry-pages img {
    border: none
}

.sheet.journal-entry .pages-list .directory-item {
    border-bottom: none;
}

.sheet.journal-entry .pages-list .page-heading .page-title:hover {
    cursor: pointer;
    color: var(--color-warm-2);
    text-shadow: none
}

.journal-page-content pre {
    white-space: unset;
}

pre {
    font-family: var(--font-monospace), sans-serif;
}

.editor-content * {
    text-align: justify;
}

.sheet-container .editor-content blockquote,
.editor-container .editor-content blockquote,
.journal-sheet blockquote {
    position: relative;
    font-family: var(--font-blockquote), sans-serif;
    font-style: unset;
    color: var(--color-text-dark-blockquote);
    margin: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 20px;
}

.sheet-container .editor-content blockquote::before,
.editor-container .editor-content blockquote::before,
.journal-sheet blockquote::before,
.sheet-container .editor-content blockquote::after,
.editor-container .editor-content blockquote::after,
.journal-sheet blockquote::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
}

.community .editor-container .editor-content blockquote::before,
.community .sheet-container .editor-content blockquote::before,
.community .editor-container .editor-content blockquote::after {
    top: 60%;
}

.editor-edit {
    z-index: 1;
}

.sheet-container .editor-content blockquote::before,
.editor-container .editor-content blockquote::before,
.journal-sheet blockquote::before {
    left: 0;
    background-image: url(../img/tor_border_left.png);
}

.sheet-container .editor-content blockquote::after,
.editor-container .editor-content blockquote::after,
.journal-sheet blockquote::after {
    right: 0;
    background-image: url(../img/tor_border_right.png);
}

.journal-page-content code,
.sheet-container .editor-content code,
.editor-container .editor-content code {
    font-family: var(--font-code), sans-serif;
    color: var(--color-text-dark-code);
    letter-spacing: 0.08125em;
    font-size: var(--font-size-12);
    position: relative;
    display: block; /* Ensure it takes full width */
    padding: 30px 20px;
}

.journal-page-content code::before,
.journal-page-content code::after,
.editor-container .editor-content code::before,
.editor-container .editor-content code::after,
.sheet-container .editor-content code::before,
.sheet-container .editor-content code::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.journal-page-content code::before,
.sheet-container .editor-content code:before,
.editor-container .editor-content code:before {
    top: 0;
    background-image: url(../img/tor_border_top.png); /* Top border image */
}

.journal-page-content code::after,
.sheet-container .editor-content code:after,
.editor-container .editor-content code:after {
    bottom: 0;
    background-image: url(../img/tor_border_bottom.png); /* Bottom border image */
}

.application .window-header .window-title {
    font-family: var(--font-label), sans-serif;
}

.window-title, .window-app .window-header a {
    font-size: var(--font-size-8);
}

.window-app .window-header a {
    font-family: var(--font-h1), sans-serif;
}

#players h3 {
    font-size: var(--font-size-10);
}

#players .player-name {
    font-family: var(--font-h3), sans-serif;
    font-size: var(--font-size-6);
}

a.content-link, a.inline-roll {
    background: var(--color-bg-light);
    font-family: var(--font-label), sans-serif;
}

.compendium h4 {
    color: var(--color-light-1);
}