.tor2e-cb-text {
    font-family: var(--font-h1), "serif";
    font-size: var(--font-size-11);
}

.tor2e-chatreports-titre, .tor2e-chatreports-th {
    font-family: var(--font-label), "serif";
    background-color: var(--color-text-dark-header);
    text-align: center;
    font-size: var(--font-size-14);
}

.tor2e-macrobar-macrogroup-title {
    font-family: var(--font-h1), "serif";
    font-size: var(--font-size-6);
}