.tor2e.sheet .window-content {
    background: var(--color-light-1) url(../img/tor_bg.png) no-repeat;
    background-size: cover;
}

.tor2e.sheet .sheet-container img.background {
    opacity: 0.04;
}

.tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper, .tor2e.sheet.actor .sheet-content .main-stat .item-value {
    border: 4px double var(--color-warm-2);
    background: var(--color-bg-light);
    font-size: var(--font-size-20);
    color: var(--color-warm-2);
}

.tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper input,
.tor2e.sheet.actor .sheet-content .main-stat .item-value input,
.tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .item-value .input-stat-value {
    font-size: var(--font-size-20);
    background: unset;
    color: var(--color-warm-2);
}

.tor2e.sheet.actor .sheet-content .main-stat .computed > .main-stat-value {
    background: var(--color-bg-light);
}

.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value .input-stat-value {
    font-size: var(--font-size-13);
    background: unset;
    color: var(--color-warm-2);
}

.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value {
    background: var(--color-bg-light);
    border: 2px solid var(--color-warm-2);
    font-size: var(--font-size-13);
    color: var(--color-warm-2);
}

.tor2e.sheet.actor .skill-element-row .skill-display-element-full {
    background-color: var(--color-warm-2);
}

.tor2e.sheet.actor .skill-element-row > * {
    border: 1px solid var(--color-warm-2);
}

.tor2e.sheet.actor h2 {
    color: var(--color-warm-2);
    font-size: var(--font-size-14);
    font-family: var(--font-h1-bold), "serif";
}

.tor2e.sheet input,  .tor2e.sheet select {
    font-family: var(--font-label), "serif";
    color: var(--color-warm-2);
    background: unset;
}

.tor2e.sheet .skill-card-component .identification a.skill-name {
    /*font-family: var(--font-label), "serif";*/
}

.tor2e.sheet .skill-card-component .identification a.skill-name.active {
    font-family: var(--font-label), "serif";
}

.tor2e.sheet.actor .sheet-content .main-stat .main-stat-value .main-stat-label {
    left: -2em;
    color: var(--color-warm-2);
}

.tor2e.sheet .biography-element span, .tor2e.sheet .main-stat {
    font-family: var(--font-label), "serif";
}

.tor2e.sheet h1 input {
    font-family: var(--font-h1), "serif";
    font-size: var(--font-size-18);
    color: var(--color-text-dark-header);
}

.tor2e.sheet.actor .sheet-header img {
    border: 5px double darkgray;
    background: var(--color-bg-light);
    padding: 2px 0;
}

.tor2e.sheet .table-caption-row {
    background: var(--color-bg-light);
}

.tor2e.sheet .collapsibleList {
    background: var(--color-bg-light);
}

.tor2e.sheet.actor .sheet-content .main-stat {
    padding-right: 5px;
}

.tor2e.sheet div.editor-container-toggelable.show {
    padding-top: 10px;
}

.tor2e.sheet.actor .section.main-section .active-effect-row {
    background: var(--color-bg-light);
}

.tor2e.sheet.actor .sheet-content .main-stat label,
.tor2e.sheet.actor .sheet-content .main-stat .label,

.tor2e.sheet.actor .section h4 {
    font-family: var(--font-h2-bold), "serif" !important;
    font-weight: unset;
    font-size: var(--font-size-14);
    color: var(--color-text-dark-header);
}

#roll-dialog-window h4 {
    font-family: var(--font-h4-bold), "serif" !important;
    color: var(--color-warm-2);
}

#roll-dialog-window .hint {
    font-family: var(--font-label), "serif" !important;
}

.tor2e.sheet .collapsibleList li .skill-item-row .identification a,
.tor2e.sheet .connectionsList li .skill-item-row .identification a,
.tor2e.sheet .collapsibleList li .list-actor-row .identification a,
.tor2e.sheet .connectionsList li .list-actor-row .identification a,
.tor2e.sheet .collapsibleList li .skill-item-row .identification p,
.tor2e.sheet .connectionsList li .skill-item-row .identification p,
.tor2e.sheet .collapsibleList li .list-actor-row .identification p,
.tor2e.sheet .connectionsList li .list-actor-row .identification p {
    font-family: var(--font-label), "serif";
    font-weight: unset;
}

.tor2e.sheet.actor .table-caption {
    font-family: var(--font-label), "serif";
    font-weight: unset;
}

.tor2e.sheet .trait-item h3 {
    font-size: var(--font-size-14);
    padding-top: 11px;
}

.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat label,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item label {
    font-size: var(--font-size-5);
    color: var(--color-warm-2);
    left: 3.5em;
    top: -1.5em;
}

.tor2e.sheet.actor .sheet-content .main-stat .tertiary-stat label {
    font-size: var(--font-size-5);
    color: var(--color-warm-2);
    right: -9.8em;
    top: -1.8em;
}

.tor2e.sheet.actor .sheet-content .main-stat .item-name {
    font-size: var(--font-size-12);
    color: var(--color-warm-2);
    font-family: var(--font-label), "serif";
}

.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-name, .tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-name {
    font-size: var(--font-size-12);
    color: var(--color-warm-2);
    font-family: var(--font-label), "serif";
}

.tor2e.sheet.actor .sheet-content .main-stat .item-name p {
    margin-left: 0.1em;
}

.tor2e.sheet.actor .sheet-content .main-stat label, .tor2e.sheet.actor .sheet-content .main-stat .label {
    margin-bottom: 0.7em;
}

.tor2e.sheet.actor .biography-element {
    flex: 2;
}

.tor2e.sheet.actor .hostile-friendly {
    font-family: var(--font-label), "serif";
}

.popup .content .hope .actor-stats span.label {
    color: var(--color-warm-2);
}

.tor2e.sheet.actor .rest-actions .rest-action p,
.tor2e.sheet.actor .section .active-effect .label {
    font-family: var(--font-label), "serif";
}

.tor2e.sheet.actor .actor-row {
    background: var(--color-bg-light);
}

.tor2e.sheet.journey-log h2 {
    color: var(--color-warm-2);
    font-size: var(--font-size-10);
}

.tor2e.sheet.item.journey-log .table-heading {
    font-family: var(--font-label), "serif";
}

.roll-event-message h4 {
    font-family: var(--font-label), "serif";
    background-color: var(--color-text-dark-header);
    font-size: var(--font-size-14);
}

.roll-event-message .roll-event-message-body {
    background: var(--color-bg-light);
    border: 0;
}

.popup .form-group .label, .popup .form-group label {
    font-family: var(--font-label), "serif";
    color: var(--color-warm-2);
}

.failure {
    color: var(--color-warm-2);
}

.success {
    color: var(--color-level-success-border);
}

.slider {
    color: var(--color-level-success-border);
}

input:checked + .slider {
    background-color: var(--color-warm-2);
}

.tor2e.sheet.actor.community .lbl-toggle-travel-log,
.tor2e.sheet.actor.character .lbl-toggle-travel-log,
.tor2e.sheet.actor.community .lbl-toggle-undertaking,
.tor2e.sheet.actor.character .lbl-toggle-undertaking {
    background: unset;
}

.tor2e.sheet.actor.character .table-layout, .tor2e.sheet.actor.community .table-layout {
    background: var(--color-bg-light);
}

.tor2e.sheet.actor .tor2e-round-checkbox .active > .label {
    background-color: var(--color-checkbox-checked););
    border-color: var(--color-text-dark-header);
}

.tor2e.sheet.actor .tor2e-round-checkbox .label {
    background-color: unset;
    border-color: var(--color-text-dark-header);
}

.tor2e.sheet.actor .character-actor-drop,
.tor2e.sheet.actor #unassigned-members .actor-drop,
.tor2e.sheet.actor #travel-roles .actor-drop {
    background: unset;
}

.tor2e.sheet.actor .hostile-friendly .hf-slider {
    width: 12.8em;
}

.tor2e.sheet.actor .hostile-friendly .hf-slider span {
    padding-left: 0.3125em;
    padding-right: 0.3125em;
}
