#weather-control-container .calendar-header,
#weather-control-container .time-controls li {
    background: var(--color-text-dark-header) !important;
}

#weather-control-container .time-controls li {
    color: white !important;
}

#weather-control-container {
    background: var(--color-text-dark-primary);
}

#calendar-time {
    font-family: var(--font-h1), sans-serif;
}

#weather-control-container #window-move-handle,
#weather-control-container #date-display h2 {
    font-size: var(--font-size-11) !important;
}

#weather-control-container .time-display .time {
    font-size: var(--font-size-13) !important;
}