.system-tor2e .roll-message-body .roll-information-row .label,
.system-tor2e .roll-event-title,
.system-tor2e .formula p.label,
.system-tor2e .roll-characteristic-card p.label,
.system-tor2e .roll-combat-card p.label,
.system-tor2e .damage-card .block-title,
.system-tor2e .warn-card .block-title,
.system-tor2e .message-content .song-result-message .song-result-message-body .song-attribute-row .label,
.system-tor2e .display-description-message .display-description-message-header .summary .block .title {
    background: var(--deep-brown);
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
    font-size: var(--font-size-13);
}

.system-tor2e .magical,
.tor2e.sheet .skill-card-component .identification p.skill-label.magical-skill,
.tor2e.sheet .skill-card-component .value p.skill-label.magical-skill {
    color: var(--color-level-dark-magical)
}

.system-tor2e .roll-message-body .roll-information-row {
    background: unset;
}

.system-tor2e .roll-message-body .roll-information-row .label {
    padding: 0.1em 0.2em;
}

.system-tor2e .roll-message-body .roll-information-row .value,
.system-tor2e .roll-event-message .roll-event-message-body,
.system-tor2e .damage-card .block-content a,
.system-tor2e .warn-card .block-content a {
    background: var(--color-bg-light);
}

.system-tor2e li.roll-characteristic.active.positive {
    color: var(--color-level-success);
}

.tor2e.sheet .window-content {
    background: var(--color-light-1) url(../../img/tor_bg.webp) no-repeat;
    background-size: cover;
}

.system-tor2e .message-content .label {
    margin: 0 !important;
}

.tor2e.sheet .sheet-container img.background {
    opacity: 0.04;
}
.tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper, .tor2e.sheet.actor .sheet-content .main-stat .item-value {
    background: var(--color-bg-light);
}
.tor2e.sheet.actor .sheet-content .main-stat .computed > .main-stat-value {
    background: var(--color-bg-light);
}
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value input,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value .input-stat-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value .input-stat-value {
    font-size: var(--font-size-13);
    background: unset;
    color: var(--earth-red);
}
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value {
    background: var(--color-bg-light);
    border: 2px solid var(--earth-red);
    font-size: var(--font-size-13);
    color: var(--earth-red);
}
.tor2e.sheet.actor .skill-element-row .skill-display-element-full {
    background-color: var(--earth-red);
}
.tor2e.sheet.actor .skill-element-row > * {
    border: 1px solid var(--earth-red);
}
.tor2e.sheet.actor h2 {
    color: var(--earth-red);
    font-size: var(--font-size-14);
    font-family: var(--font-h1), sans-serif;
    font-weight: 900;
}
.tor2e.sheet input,  .tor2e.sheet select {
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
    color: var(--earth-red);
    background: unset;
}
.tor2e.sheet .skill-card-component .identification a.skill-name.active {
    font-family: var(--font-primary), sans-serif;
}
.tor2e.sheet.actor .sheet-content .main-stat .main-stat-value .main-stat-label {
    left: -2em;
    color: var(--earth-red);
}
.tor2e.sheet .biography-element span, .tor2e.sheet .main-stat {
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}
.tor2e.sheet h1 input {
    font-family: var(--font-h1), sans-serif;
    font-size: var(--font-size-18);
    color: var(--earth-brown);
}
.tor2e.sheet.actor .sheet-header img {
    border: 5px double var(--stone-gray);
    background: var(--color-bg-light);
    padding: 2px 0;
}

.tor2e.sheet .table-caption-row,
.tor2e.sheet .collapsibleList,
.tor2e.sheet.actor .section.main-section .active-effect-row,
.tor2e.sheet.actor .actor-row,
.tor2e.sheet.actor.character .table-layout,
.tor2e.sheet.actor.community .table-layout {
    background: var(--color-bg-light);
}
.tor2e.sheet.actor .sheet-content .main-stat {
    padding-right: 5px;
}
.tor2e.sheet div.editor-container-toggelable.show {
    padding-top: 10px;
}

.tor2e.sheet.actor .sheet-content .main-stat label,
.tor2e.sheet.actor .sheet-content .main-stat .label,
.tor2e.sheet.actor .section h4 {
    font-family: var(--font-h2), sans-serif !important;
    font-size: var(--font-size-12);
    color: var(--earth-brown);
    font-weight: 900;
}

.tor2e.sheet.actor .attribute-label {
    font-weight: 900;
}

.tor2e.sheet .collapsibleList li .skill-item-row .identification a,
.tor2e.sheet .connectionsList li .skill-item-row .identification a,
.tor2e.sheet .collapsibleList li .list-actor-row .identification a,
.tor2e.sheet .connectionsList li .list-actor-row .identification a,
.tor2e.sheet .collapsibleList li .skill-item-row .identification p,
.tor2e.sheet .connectionsList li .skill-item-row .identification p,
.tor2e.sheet .collapsibleList li .list-actor-row .identification p,
.tor2e.sheet .connectionsList li .list-actor-row .identification p {
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}
.tor2e.sheet.actor .table-caption {
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}
.tor2e.sheet .trait-item h3 {
    font-size: var(--font-size-14);
    padding-top: 11px;
}
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat label,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item label {
    font-size: var(--font-size-6);
    color: var(--earth-red);
    left: 3.5em;
    top: -1.5em;
}
.tor2e.sheet.actor .sheet-content .main-stat .tertiary-stat label {
    font-size: var(--font-size-6);
    color: var(--earth-red);
    right: -9.8em;
    top: -1.8em;
}

.tor2e.sheet.actor .sheet-content .main-stat .item-name,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-name,
.tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-name {
    font-size: var(--font-size-12);
    color: var(--earth-red);
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}
.tor2e.sheet.actor .sheet-content .main-stat .item-name p {
    margin-left: 0.1em;
}
.tor2e.sheet.actor .sheet-content .main-stat label,
.tor2e.sheet.actor .sheet-content .main-stat .label {
    margin-bottom: 0.7em;
}
.tor2e.sheet.actor .biography-element {
    flex: 2;
}

.tor2e.sheet.actor .hostile-friendly,
.tor2e.sheet.actor .rest-actions .rest-action p,
.tor2e.sheet.actor .section .active-effect .label {
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}

.tor2e.sheet.journey-log h2 {
    color: var(--earth-red);
    font-size: var(--font-size-12);
}
.tor2e.sheet.journey-log h3 {
    font-size: var(--font-size-11);
}
.tor2e.sheet.item.journey-log .table-heading {
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}

.tor2e.sheet.item.journey-log label {
    font-weight: 900;
}

.tor2e.sheet .skill-card-component .identification p.skill-label.magical-skill:before,
.tor2e.sheet .skill-card-component .identification p.skill-label.magical-skill:after {
    margin-bottom: 0.2em;
}

.tor2e.sheet.actor.community .lbl-toggle-travel-log,
.tor2e.sheet.actor.character .lbl-toggle-travel-log,
.tor2e.sheet.actor.community .lbl-toggle-undertaking,
.tor2e.sheet.actor.character .lbl-toggle-undertaking {
    background: unset;
}

.tor2e.sheet.actor .tor2e-round-checkbox .active > .label {
    background-color: var(--earth-brown);
    border-color: var(--earth-brown);
}
.tor2e.sheet.actor .tor2e-round-checkbox .label {
    background-color: unset;
    border-color: var(--earth-brown);
}
.tor2e.sheet.actor .character-actor-drop,
.tor2e.sheet.actor #unassigned-members .actor-drop,
.tor2e.sheet.actor #travel-roles .actor-drop {
    background: unset;
}

.tor2e.sheet.actor .hostile-friendly .hf-slider span {
    align-content: center;
}
.tor2e.sheet .window-content h1,
.tor2e.sheet .window-content h2,
.tor2e.sheet .window-content h3,
.tor2e.sheet .window-content h4,
.tor2e.sheet .window-content h5,
.tor2e.sheet .window-content h6 {
    color: var(--earth-brown);
}

.system-tor2e .popup .form-group p.label,
.system-tor2e section#difficulty-block .form-group label,
.system-tor2e section#modifier-block .form-group label,
.system-tor2e section#advanced-block .form-group label,
.system-tor2e section#hope .form-group .input.principal p.warn.label {
    font-family: var(--font-h1), sans-serif;
    color: var(--color-warm-2);
    font-size: var(--font-size-10);
    font-weight: 900;
}

.system-tor2e section#hope .form-group .input.secondary p.label {
    font-size: var(--font-size-8);
}

.system-tor2e .roll-event-message h4 {
    font-family: var(--font-body), sans-serif;
    background-color: var(--earth-brown);
    font-size: var(--font-size-14);
    font-weight: 900;
}

.system-tor2e .roll-event-message .roll-event-message-body {
    background: var(--color-bg-light);
    border: 0;
}

.system-tor2e #roll-dialog-window h4 {
    font-family: var(--font-h4), sans-serif !important;
    color: var(--color-warm-2);
    font-weight: 900;
}

.system-tor2e .popup .content .hope .actor-stats span.label {
    color: var(--color-warm-2);
}


.system-tor2e .popup input {
    width: 1.4em;
    margin-right: 0.5em;
    margin-bottom: 0.4em;
}

.system-tor2e .popup .label {
    align-content: center;
}

.system-tor2e #roll-dialog-window .hint {
    font-family: var(--font-body), sans-serif !important;
    font-weight: 900;
}

.system-tor2e .slider {
    align-content: center;
    background-color: var(--color-level-success);
}

.system-tor2e input:checked + .slider {
    background-color: var(--color-warm-2);
}

.system-tor2e .popup .form-group .label {
    font-family: var(--font-h1), sans-serif;
    color: var(--color-warm-2);
    font-weight: 900;
}
.system-tor2e .failure {
    color: var(--color-warm-2);
}
.system-tor2e .success {
    color: var(--color-level-success);
}

.tor2e.sheet.actor .skillBonus-element-row .skill-display-element-full {
    background-color: var(--color-level-success) !important;
}

.tor2e.sheet.actor .skillBonus-element-row > * {
    border: 1px solid var(--color-level-success);
}

/** DARK THEME **/

body.theme-dark .chat-message,
body.theme-dark .chat-message.whisper {
    background: var(--color-cool-5-90);
    background-size: unset;
}

body.theme-dark .chat-message .message-header .message-sender {
    color: var(--earth-gold);
}

body.theme-dark .chat-message .message-header {
    color: var(--earth-gold);
}

body.theme-dark .chat-message {
    color: var(--earth-beige);
    --chat-message-border-color: var(--earth-brown);
    --color-whisper-border: var(--earth-brown);
}

body.theme-dark .roll-message-body .roll-information-row .label {
    color: var(--earth-beige);
}

body.theme-dark .roll-message-body .roll-information-row {
    border: 1px solid var(--color-dark-3);
}

body.theme-dark .dice-roll .dice-total {
    color: var(--earth-gold);
    box-shadow: unset;
    margin-top: 3px;
    background: var(--color-cool-5-90);
}

body.theme-dark .dice-roll .dice-formula {
    border: 1px solid var(--earth-brown);
    background: var(--color-cool-5-90);
    box-shadow: unset;
}

body.theme-dark .dice-roll .dice-formula .formula .value {
    border: 0 !important;
}

body.theme-dark.system-tor2e .roll-message-body .roll-information-row .value,
body.theme-dark.system-tor2e .roll-event-message .roll-event-message-body {
    background: var(--color-cool-5-90);
}

body.theme-dark .formula p.label,
body.theme-dark .roll-characteristic-card p.label,
body.theme-dark .roll-combat-card p.label,
body.theme-dark .tor2e-gc-chatreports-titre,
body.theme-dark .tor2e-gc-chatreports-th-soustitre,
body.theme-dark .damage-card .block-title,
body.theme-dark .warn-card .block-title {
    color: var(--earth-beige);
}

body.theme-dark table tbody tr:nth-child(even) {
    --table-row-color-even: var(--color-cool-5-90)
}

body.game.theme-dark .tor2e.sheet.actor.character .sheet-container img.background {
    opacity: 0.1;
}

body.game.theme-dark .app.tor2e.sheet {
    background: var(--color-cool-5-90);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

body.game.theme-dark .tor2e.sheet .window-content {
    background: unset;
    background-size: unset;
}

body.theme-dark .app.window-app .window-content {
    --color-text-dark-primary: var(--earth-beige);
}

body.theme-dark .tor2e.sheet input,
body.theme-dark .tor2e.sheet select {
    border-bottom: 2px solid var(--earth-brown);
    color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper input {
    border: 0;
}

body.theme-dark .tor2e.sheet h1 input,
body.theme-dark .tor2e.sheet .window-content :is(h1,h2,h3,h4,h5,h6){
    color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet .window-content h2 {
    border-bottom: 1px solid var(--earth-taupe);
}

body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat label,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .label,
body.theme-dark .tor2e.sheet.actor .section h4 {
    color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor .skill-element-row .skill-display-element-full {
    background-color: var(--earth-gold) !important;
}

body.theme-dark .tor2e.sheet.actor .skill-element-row > * {
    border: 1px solid var(--earth-gold);
}

body.theme-dark .system-tor2e .magical,
body.theme-dark .tor2e.sheet .skill-card-component .identification p.skill-label.magical-skill,
body.theme-dark .tor2e.sheet .skill-card-component .value p.skill-label.magical-skill {
    color: var(--color-level-light-magical)
}

body.theme-dark .tor2e.sheet.actor .tor2e-round-checkbox .label {
    border-color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper input,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .item-value input,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper .input-stat-value,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .item-value .input-stat-value,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .main-stat-value .main-stat-label,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .item-value {
    color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .input-stat-wrapper,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .item-value {
    border: 4px double var(--earth-gold)
}

body.theme-dark .tor2e.sheet.actor .sheet-header img {
    border: 5px double var(--earth-gold);
    background: var(--color-cool-5-90);
}

body.theme-dark .tor2e.sheet.actor .common-skill-column:not(:last-child) {
    border-right: 3px double var(--earth-gold);
}

body.theme-dark .app input[type="text"]:focus,
body.theme-dark .app input[type="number"]:focus,
body.theme-dark .app input[type="password"]:focus,
body.theme-dark .app input[type="date"]:focus,
body.theme-dark .app input[type="time"]:focus,
body.theme-dark .app input[type="search"]:focus,
body.theme-dark .app select:focus {
    border: 2px solid var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .input-stat-wrapper,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .secondary-item .input-stat-wrapper,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-value,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .tertiary-stat .input-stat-wrapper,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .tertiary-stat .item-value {
    background: var(--color-cool-5-90);
    border: 2px solid var(--earth-gold);
    color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet .table-caption-row,
body.theme-dark .tor2e.sheet .collapsibleList,
body.theme-dark .tor2e.sheet.actor .section.main-section .active-effect-row,
body.theme-dark .tor2e.sheet.actor .actor-row,
body.theme-dark .tor2e.sheet.actor.character .table-layout,
body.theme-dark .tor2e.sheet.actor.community .table-layout {
    background: var(--color-cool-5-90);
}

body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .item-name,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .secondary-stat .item-name,
body.theme-dark .tor2e.sheet.actor .sheet-content .main-stat .secondary-item .item-name {
    color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor .dropped {
    opacity: 0.3;
}

body.theme-dark .tor2e.sheet.actor .section .active-effect img {
    opacity: 0.25;
}
body.theme-dark .tor2e.sheet.actor .section .active-effect img.active {
    opacity: 1;
}

body.theme-dark .sheet.app .editor-content blockquote,
body.theme-dark .sheet.app .editor-container-toggelable blockquote,
body.theme-dark .sheet.app .editor-content code,
body.theme-dark .sheet.app .editor-container-toggelable code {
    color: var(--earth-gold);
}

body.theme-dark.system-tor2e #roll-dialog-window h4 {
    color: var(--earth-beige);
}

body.theme-dark.system-tor2e .popup .form-group p.label,
body.theme-dark.system-tor2e section#difficulty-block .form-group label,
body.theme-dark.system-tor2e section#modifier-block .form-group label,
body.theme-dark.system-tor2e section#advanced-block .form-group label,
body.theme-dark.system-tor2e section#hope .form-group .input.principal p.warn.label {
    color: var(--earth-beige);
}

body.theme-dark .formula div.roll-hope-points p.count.standard,
body.theme-dark .roll-characteristic-card div.roll-hope-points p.count.standard,
body.theme-dark .roll-combat-card div.roll-hope-points p.count.standard {
    color: var(--earth-beige);
    border-color: var(--earth-beige);
}

body.theme-dark.system-tor2e .app form .notes,
body.theme-dark.system-tor2e .app form .hint {
    color: var(--earth-beige);
}
body.theme-dark.system-tor2e .app form button,
body.theme-dark.system-tor2e .app .dialog-buttons button {
    background: rgb(84 59 40 / 15%);
    border: 1px solid var(--button-border-color);
    color: var(--earth-beige)
}

body.theme-dark.system-tor2e .app form button:hover,
body.theme-dark.system-tor2e .app .dialog-buttons button:hover {
    border: 1px solid var(--earth-gold);
}

body.theme-dark.system-tor2e nav.tabs [data-tab] {
    color: var(--earth-beige);
}

body.theme-dark .tor2e.sheet.item.journey-log section:not(:last-child) {
    border-right: 1px solid var(--earth-gold);
}

body.theme-dark.system-tor2e .app h3 {
    border-bottom: 1px solid var(--earth-taupe);
}

body.theme-dark.system-tor2e .tor2e.sheet.item.journey-log .event {
    border-bottom: 1px solid var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor #travel-roles .actor-drop,
body.theme-dark .tor2e.sheet.actor #unassigned-members .actor-drop,
body.theme-dark .tor2e.sheet.actor .character-actor-drop {
    border-color: var(--earth-gold);
}

body.theme-dark .tor2e.sheet.actor.community .lbl-toggle-travel-log,
body.theme-dark .tor2e.sheet.actor.character .lbl-toggle-travel-log,
body.theme-dark .tor2e.sheet.actor.community .lbl-toggle-undertaking,
body.theme-dark .tor2e.sheet.actor.character .lbl-toggle-undertaking {
    color: var(--earth-taupe);
}

body.theme-dark .tor2e.sheet.actor.community .lbl-toggle-travel-log:hover,
body.theme-dark .tor2e.sheet.actor.character .lbl-toggle-travel-log:hover,
body.theme-dark .tor2e.sheet.actor.community .lbl-toggle-undertaking:hover,
body.theme-dark .tor2e.sheet.actor.character .lbl-toggle-undertaking:hover {
    color: var(--earth-gold);
}

body.theme-dark .app option,
body.theme-dark .app optgroup {
    --color-select-option-bg: var(--color-cool-4)
}

body.theme-dark.system-tor2e .popup .content .hope .actor-stats span.label,
body.theme-dark.system-tor2e .popup .form-group label {
    color: var(--earth-gold);
}

body.theme-dark.system-tor2e .popup .content .hope .actor-stats span.value {
    color: var(--earth-beige);
}

body.theme-dark.system-tor2e .dialog.window-app > .window-content {
    background: var(--color-cool-5-90);
    background-size: unset;
}

body.theme-dark.system-tor2e .roll-header.header-self,
body.theme-dark.system-tor2e .roll-header.header-adversary {
    #background: var(--color-cool-5-90);
    #border: 2px solid var(--earth-gold);
    box-shadow: unset;
}

.system-tor2e .roll-header.header-self {
    border: 2px solid var(--color-level-dark-magical);
}
.system-tor2e .roll-header.header-adversary {
    border: 2px solid var(--earth-red);
}

body.theme-dark.system-tor2e .header-self .arrow-separator {
    #color: var(--earth-gold);
}

body.theme-dark.system-tor2e .header-self .target-compact,
body.theme-dark.system-tor2e .header-adversary .target-compact,
body.theme-dark.system-tor2e .action-compact {
    border: 1px solid var(--earth-taupe);
    background:  var(--midnight-brown);
}

body.theme-dark.system-tor2e .target-compact .target-details .target-name,
body.theme-dark.system-tor2e .action-compact .action-details .action-name {
    color: var(--color-text-dark-primary);
}

body.theme-dark.system-tor2e .action-compact .action-details .action-value {
    color: var(--earth-gold);
}