.tor2e-cb-text {
    font-family: var(--font-label), sans-serif;
    font-size: var(--font-size-12);
}

.tor2e-chatreports-titre, .tor2e-chatreports-th {
    font-family: var(--font-label), sans-serif;
    background-color: var(--color-text-dark-header);
    text-align: center;
    font-size: var(--font-size-14);
}

.tor2e-macrobar-macrogroup-title {
    font-family: var(--font-h1), sans-serif;
    font-size: var(--font-size-6);
}

.tor2e-cb-values,
.tor2e-chatreports-endurance-box-values {
    align-content: center;
    font-family: var(--font-label), sans-serif;
    font-size: var(--font-size-12);
}